#popweixin {
    width:100%;
    height:100%;
    overflow:hidden;
    position:fixed;
    z-index:1000;
    background:rgba(0,0,0,.5);
    top:0;
    left:0;
    display:none;
}
#popweixin .tip {
    width:100%;
    background:#fff;
    z-index:1001;
    text-align:right;
}
.top2bottom {
    -webkit-animation:top2bottom 1.2s ease;
    -moz-animation:top2bottom 1.2s ease;
    -o-animation:top2bottom 1.2s ease;
    animation:top2bottom 1.2s ease;
    -webkit-animation-fill-mode:backwards;
    -moz-animation-fill-mode:backwards;
    -o-animation-fill-mode:backwards;
    animation-fill-mode:backwards
}
.animate-delay-1 {
    -webkit-animation-delay:1s;
    -moz-animation-delay:1s;
    -o-animation-delay:1s;
    animation-delay:1s
}
@-webkit-keyframes top2bottom
{
    0%
    {
        -webkit-transform: translateY(-428px);
        opacity: .6;
    }

    100%
    {
        -webkit-transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes top2bottom
{
    0%
    {
        transform: translateY(-428px);
        opacity: .6;
    }

    100%
    {
        transform: translateY(0px);
        opacity: 1;
    }
}