.gameList {
	background: #FFFFFF;
	margin-top: 20px;
}

.gameList_select {
	margin-top: 10px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	padding: 20px 0 0 0;
}

.gameList_select li {
	min-height: 40px;
}

.gameList_select li:after {
	content: "";
	display: block;
	width: 100%;
	clear: both;
}

.gameList_select li> span {
	display: block;
	float: left;
	width: 95px;
	text-align: right;
	font-size: 16px;
	color: #333333;
}

.g_s_type {
	float: left;
}

.g_s_type a {
	color: #333333;
	font-size: 16px;
	margin: 0 5px;
}

.g_s_type a.active {
	color: #F13D6D;
}

.gameList_select li input {
	float: left;
	padding: 5px;
	position: relative;
	top: -5px;
	border: 1px solid #00AAEF;
}

.gameList_select li input[type=text] {
	width: 900px;
	border-radius: 3px 0 0 3px;
	padding: 4px;
	color: ;
}

.gameList_select li input[type=submit] {
	width: 100px;
	border-radius: 0 3px 3px 0;
	cursor: pointer;
	color: #FFFFFF;
	font-family: "微软雅黑";
	height: 27px;
	letter-spacing: 5px;
	background: #00AAEF;
}


/**/

.gameList_con {
	margin: 20px 0;
	min-height: 670px;
	border-bottom: 1px solid #DDDDDD;
}

.gameList_con:after {
	content: "";
	display: block;
	width: 100%;
	clear: both;
}

.gameList_deital {
	width: 345px;
	float: left;
	margin: 10px;
	padding: 10px;
	border: 1px solid #DDDDDD;
}

.gameList_deital:hover {
	border-color: #F13D6D
}

.gameList_deital img {
	width: 120px;
	height: 120px;
	float: left;
}

.gameList_word {
	float: left;
	width: 210px;
	margin-left: 15px;
	line-height: 1.5;
}

.gameList_word h3 {
	max-width: 100%;
	font-size: 24px;
	color: #333333;
	font-weight: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.gameList_word h3:hover {
	color: #F13D6D;
}

.gameList_word span {
	font-size: 14px;
	color: #333333;
	margin-right: 20px;
}

.gameList_word p {
	font-size: 14px;
	color: #333333;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.g_w_btn {
	display: block;
	float: left;
	margin: 10px 10px 0 0;
	background: #F13D6D;
	color: #FFFFFF;
	padding: 5px 15px;
	font-size: 14px;
	border: 1px solid;
	border-radius: 6px;
}

.g_w_btn:hover {
	color: #F13D6D;
	background: #FFFFFF;
}


/*礼包中心*/

.gift1 {
	background: #FFFFFF;
	margin-top: 20px;
}

.gift1 ul {
	margin-top: 10px;
	width: 100%;
	height: 150px;
}

.gift1 ul li {
	float: left;
	width: 226px;
	height: 150px;
	margin-right: 10px;
	position: relative;
	overflow: hidden;
}

.gift1 ul li img {
	width: 100%;
	height: 150px;
}

.gift1 ul li .mask,
.gift1 ul li .gift1_word {
	width: 100%;
	height: 50%;
	position: absolute;
	bottom: -50%;
	left: 0;
	color: #FFFFFF;
	font-size: 16px;
	transition: bottom .3s;
}

.gift1 ul li .mask {
	opacity: .5;
	filter: alpha(opacity=50);
	-webkit-opacity: .5;
	-moz-opacity: .5;
	-ms-filter: alpha(opacity=50);
}

.gift1 ul li:hover .mask,
.gift1 ul li:hover .gift1_word {
	bottom: 0;
}

.gift1_word {
	line-height: 75px;
	text-align: center;
}

.gift_list {
	margin-top: 10px;
	width: 1200px;
	padding: 0;
}

.gift_list .right,
.gift_list .left {
	background: #FFFFFF;
	padding: 15px;
}

.gift_list .left {
	width: 800px;
}

.gift_list .right {
	width: 320px;
}

.gift_list .left .title {
	position: relative;
}

.gift_search {
	position: absolute;
	right: 0;
	top: -3px;
}

.gift_search input {
	border: 1px solid #F13D6D;
	padding: 5px;
	border-radius: ;
}

.gift_search input[type=submit] {
	background: #F13D6D;
	color: #FFFFFF;
	padding: 5px 10px;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
}

.gift_search input[type=text] {
	border-radius: 5px 0 0 5px;
}

.g_l_con {
	margin: 20px 0;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px dashed #DDDDDD;
}

.g_l_con li {
	float: left;
	width: 236px;
	margin: 10px;
	padding: 10px 5px;
	transition: box-shadow .3s;
}

.g_l_con li:hover {
	box-shadow: 0 0 5px #F13D6D;
}

.g_l_con li img {
	width: 80px;
	height: 80px;
	float: left;
}

.g_l_word {
	width: 145px;
	float: right;
}

.g_l_word h4 {
	color: #333333;
	font-size: 16px;
	font-weight: normal;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 5px 0;
}

.g_l_word h4:hover {
	color: #F13D6D;
}

.g_l_word> a> span {
	color: #666666;
	font-size: 14px;
}

.g_l_word> a> span:hover {
	text-decoration: underline;
}

.g_l_word .power span {
	margin: 0 5px 0 0;
}

.gift_list .banner_pic li {
	overflow: hidden;
}

.gift_list .banner_pic li .mask,
.gift_list .banner_pic li p {
	position: absolute;
	bottom: -50px;
	left: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 18px;
	transition: bottom .3s;
	color: #FFFFFF;
}

.gift_list .banner:hover .mask,
.gift_list .banner:hover p {
	bottom: 0;
}


/**/

.giftBill {
	width: 100%;
	height: 200px;
}

.giftBill li {
	height: 30px;
	line-height: 30px;
	margin: 7px 0;
}

.giftBill li img {
	width: 30px;
	float: left;
}

.giftBill li p {
	font-size: 14px;
	margin: 0 10px;
	float: left;
	max-width: 190px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #333333;
}

.giftBill li p:hover {
	color: #F13D6D;
}

.giftBill_btn {
	display: block;
	float: right;
	width: 80px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	background: #F13D6D;
	border-radius: 5px;
	color: #FFFFFF;
	margin-top: 2px;
	border: 1px solid;
}

.giftBill_btn:hover {
	color: #F13D6D;
	background: #FFFFFF;
}


/*礼包搜索页*/

.giftList {
	background: #FFFFFF;
	margin-top: 20px;
}

.giftList_con {
	margin-top: 20px;
	border-bottom: 1px solid #DDDDDD;
	padding-bottom: 20px;
	margin-bottom: 20px;
	min-height: 600px;
}

.g_c_title {
	background: #EEEEEE;
	height: 50px;
}

.g_c_title> span {
	float: left;
	display: block;
	height: 50px;
	line-height: 50px;
	color: #666666;
	font-size: 14px;
	text-align: center;
}

.giftName {
	width: 30%;
}

.gameName,
.giftTime,
.giftType {
	width: 20%;
}

.giftCtrl {
	width: 10%;
}

.giftList_con> ul li {
	padding: 10px 0;
	height: 50px;
	border-bottom: 1px dashed #DDDDDD;
}

.giftList_con> ul li> div {
	float: left;
}

.giftList_con> ul li> div._blank {
	clear: both;
}

.giftList_con> ul li> div.giftName img {
	width: 50px;
	height: 50px;
	float: left;
	margin: 0 10px;
}
.giftList_con> ul li> div.giftName p{
	float: left;
	width: 260px;
	line-height: 50px;
	color: #333333;
	font-size: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.giftList_con> ul li> div.giftName p:hover{
	color: #F13D6D;
}
.giftList_con> ul li> div.gameName,
.giftList_con> ul li> div.giftTime,
.giftList_con> ul li> div.giftType,
.giftList_con> ul li> div.giftCtrl{
	text-align: center;
	line-height: 50px;
}
.giftList_con> ul li> div.gameName a{
	color: #333333;
	font-size: 16px;
}
.giftList_con> ul li> div.gameName a:hover{
	color: #F13D6D;
}
.giftList_con> ul li> div.giftCtrl a{
	display: inline-block;
	padding:3px 10px;
	background: #F13D6D;
	border-radius: 3px;
	line-height: normal;
	color: #FFFFFF;
	border: 1px solid;
}
.giftList_con> ul li> div.giftCtrl a:hover{
	background: #FFFFFF;
	color: #F13D6D;
}
